* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: "Lato";
  color: whitesmoke;
  background: rgb(255, 196, 0);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(255, 255, 255) 50%,
    rgb(19, 72, 22) 100%
  );
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  margin: 0%;
  padding: 1em;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 0px 0px 12px 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navE {
  height: 3em;
  width: 3em;
}

.et {
  font-size: 2em;
  line-height: 2em;
  font-variant: small-caps;
  font-weight: bolder;
  color: #f8f9fa;
  margin-left: 0.5em;
}

nav button {
  height: 3em;
  width: 3em;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background-color: #fdfeff;
}

.navE img {
  height: 100%;
  width: 100%;
}

.navE button img {
  width: 2em;
  height: 2em;
}

.bloque {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
}

.titSeccion,
.titArtic {
  width: 100%;
  margin-top: 0.3em;
  font-size: 2em;
  line-height: 2em;
  font-variant: small-caps;
  font-weight: bolder;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  text-shadow: none;
  /* text-shadow: 1px 1px 20px rgb(0 0 0), 1px 1px 20px rgb(0 0 0),
    1px 1px 0 rgb(194, 30, 30), 1px 1px 0 rgb(194, 30, 30); */
  color: white;
}

.titArtic {
  border-right: 1px solid #f5f5f5ab;

  padding: 0.5em;
  margin: 0.5em;
  /*text-shadow: 1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;*/
  color: whitesmoke;
  /* writing-mode: vertical-lr; */
}

.texSeccion {
  padding: 0.5em 7% 1.5em 7%;
  width: 83%;
  max-width: 80rem;
  margin: auto;
  /*text-shadow: 1px 1px 20px rgb(0 0 0), 1px 1px 20px rgb(0 0 0), 1px 1px 0 rgb(194, 30, 30), 1px 1px 0 rgb(194, 30, 30);*/
  word-spacing: 0.12em;
  letter-spacing: 0.12em;
  font-size: 1.3em;
  color: white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px 12px 12px 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

hr {
  width: 80%;
  border: 1px solid rgb(194, 30, 30);
  text-shadow: 1px 1px #2525259d;
}

.tarjetaCuadrada,
.tarjetaRectangular,
.tarjetaPequena {
  width: 45%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.5em; */
  padding-left: 0px;
  /* box-shadow: 3px 3px 25px 1px #919191; */
  margin-bottom: 2em;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.primeraTarjeta {
  padding: 1em;
}

.tarjetaRectangular {
  width: 93%;
}

/* .tarjetaPequena {
  width: 29%;
} */
.tarjetaTexto {
  height: auto;
  /*text-shadow: 1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;*/
  color: whitesmoke;
  font-size: 1.1em;
  word-spacing: 0.12em;
  letter-spacing: 0.12em;
  display: inline-block;
  padding-left: 1em;
}

.tarjetaCuadrada iframe,
.tarjetaCuadrada img {
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

.tarjetaRectangular img {
  width: 40%;
  height: 90%;
  border-radius: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40);
}

.imagenes {
  width: 50%;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tarjeta {
  width: 8%;
  height: 100%;
  border-radius: 15px;
  background-size: auto 100%;
  background-color: black;
  cursor: pointer;
  transition: 1s;
  filter: blur(1px);
  display: flex;
  padding: 2em;
  align-items: flex-end;
  margin-bottom: 2em;
}

.tarjeta p {
  opacity: 0%;
  font-size: 1.2em;
}

.activa {
  width: 58%;
  transition: 1s;
  filter: blur(0px);
  cursor: default;
}

.activa p {
  font-weight: bolder;
  letter-spacing: 0.12em;
  font-variant: small-caps;
  opacity: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

/* Cambiar imagenes de ciudades del pais */
#tj1 {
  background-image: url("../imag/bandera.jpg");
}

#tj2 {
  background-image: url("../imag/Rio\ Zambeze.jpg");
}

#tj3 {
  background-image: url("../imag/kinshasa\ capital.jpg");
}

#tj4 {
  background-image: url("../imag/3.jpg");
}

#tj5 {
  background-image: url("../imag/2.jpg");
}

/* Establecer imagenes de fondo de cada bloque */
.b0 {
  padding-top: 3em;
  padding-bottom: 3em;
  background-image: url("../imag/Fondo\ Congo.jpeg");
  background-size: cover;
}

.b1 {
  padding-top: 3em;
  padding-bottom: 3em;
  background-image: url("../imag/CONGO\ PORTADA.jpg");
  background-size: cover;
  background-position: bottom;
}

.b2 {
  padding-top: 3em;
  padding-bottom: 3em;
  background-image: url("../imag/paisaje4.jpg");
  background-size: cover;
}

.b3 {
  padding-top: 3em;
  padding-bottom: 3em;
  background-image: url("../images/");
  background-size: cover;
}
:root {
  --color-dark: rgba(17, 25, 40, 0.5);
  --color-dark-opaque: rgba(17, 25, 40);
}

.vertical-timeline {
  position: relative;
  padding-left: 1rem;
  margin-left: -1rem;
}

.vertical-timeline::before {
  content: "";
  position: absolute;
  inset: 0 auto 0 0;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.vertical-timeline-dot {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  margin-block: 1rem 0.5rem;
}

.vertical-timeline-dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1rem;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(calc(-0.25rem - 0.5px), -0.375rem);
  background: var(--color-dark-opaque);
  border: 1px solid rgba(255, 255, 255);
  border-radius: 50%;
}

.vertical-timeline > p + p {
  margin-top: 1rem;
}

.vertical-timeline-title {
  font-variant: small-caps;
  margin-left: -0.75rem;
}

.b0 {
  position: relative;
  background-image: url("../imag/drc-salonga.jpg");
}

.b1 {
  position: relative;
  background-image: url("../imag/tanganika.jpg");
}

.b2 {
  position: relative;
  background-image: url("../imag/kinsasa-noche.jpg");
}

.bg-license {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  max-width: 30rem;
}

.bg-license a,
.tarjeta a {
  color: rgba(64, 196, 255);
}

p {
  letter-spacing: 0.03175em;
  line-height: 1.5;
}

.texSeccion,
.tarjetaPequena {
  letter-spacing: normal;
  backdrop-filter: blur(5px) saturate(150%);
}

nav button {
  background-color: transparent;
  border-radius: 0.5rem;
  outline: 1px solid rgba(255, 255, 255, 0.125);
}

nav button:hover {
  background-color: var(--color-dark);
  outline: 1px solid rgba(0, 0, 0, 0.25);
}

.tarjetaPequena,
.tarjetaRectangular {
  height: 100%;
}

.activa p {
  overflow-wrap: normal;
  white-space: wrap;
  font-variant: normal;
  min-width: 378px;
  margin-bottom: 0;
  line-height: 1.15;
  letter-spacing: normal;
}

.small-caps {
  font-variant: small-caps;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 768px) {
  .bloque {
    flex-direction: column;
    width: 100%;
  }

  .primeraTarjeta {
    width: 86%;
  }
  .imagenes {
    transform: scale(0.89);
    flex-direction: column;
    width: 100%;
  }
  .tarjetaRectangular {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: auto;
  }
  .tarjetaCuadrada,
  .tarjetaPequena {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: 1em;
  }
  .titArtic {
    border-bottom: 1px solid #f5f5f5ab;
    border-right: 0px solid #f5f5f5ab;
  }
  footer p {
    text-align: center;
    padding: 1em;
  }

  .imagenes {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .activa {
    width: 80%;
    height: 12em;
  }
  .tarjeta {
    width: 80%;
    padding: 0%;
    background-size: cover;
    margin-bottom: 0.2em;
  }
  .activa p {
    margin-left: 1em;
  }
}
